<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets 5 | Show</title>
</head>
<body>
<div class="container">
    <h1>Database Pets</h1>
    <ol>
        <repeat group="{{ @queryAllPets }}" value="{{ @pet }}">
            <li>{{ @pet['name'] }} is a {{ @pet['color'] }} ({{ @pet['type'] }})</li>
        </repeat>
    </ol>

    <br>
    <h3>Back To Home</h3>
    <button type="button" onclick="window.location.href='https://sjamieson.greenriverdev.com/328/pets5/'">Click Me</button>
</div>
</body>
</html>